<html lang="en" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="ExampleApp" ng-cloak>

		<!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


	<div ng-controller="pageCtrl">
	  <md-header class="md-no-sticky">Sää- ja ilmanlaatuasemat</md-header>

		<md-list-item ng-repeat="phrase in phrases track by $index">
	    <p> {{ phrase }} </p>
	  </md-list-item>

		<md-input-container class="md-block" flex-gt-sm>
			<label>Hae paikkakuntaa</label>
			<input ng-model="textInput">
			<md-button ng-click="fetchPhrase()" class="md-raised md-primary">Hae fraasi</md-button>
			<md-button ng-click="clearPhrases()" class="md-raised md-primary">Tyhjennä fraasit</md-button>
		</md-input-container>

		<md-divider></md-divider>

	  <md-list-item ng-repeat="station in stations" class="secondary-button-padding" ng-click="doPrimaryAction($event, station.name)">
	    <p> {{ station.name }}</p>
	    <md-button class="md-secondary" ng-click="doSecondaryAction($event, station.name )">Sano sää ääneen</md-button>
	  </md-list-item>
	</div>

	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<!-- Your application bootstrap  -->
	<script type="text/javascript">
		var app = angular.module('ExampleApp', ['ngMaterial']);

		app.controller("pageCtrl", function($scope, $http, $mdDialog) {
			$scope.phrases = [];

			function getPhrase(city, callback) {
				$http({
					method: 'GET',
					url: window.location.origin+'/v1/stations/' + city
				}).then(function successCallback(response) {
						callback(response.data.phrase);
				}, function errorCallback(response) {
						callback("Fraasin haku epäonnistui:" + response);
				});
			}

			function getData(city, callback) {
				$http({
					method: 'GET',
					url: window.location.origin+'/v1/stations/' + city
				}).then(function successCallback(response) {
						callback(response.data);
				}, function errorCallback(response) {
						callback("Data haku epäonnistui:" + response);
				});
			}

			function speakPhrase(phrase) {
				if ('speechSynthesis' in window) {
					var voices = window.speechSynthesis.getVoices();
					var msg = new SpeechSynthesisUtterance();
					msg.voice = voices[4]; // spanish
					msg.voiceURI = 'native';
					msg.volume = 1; // 0 to 1
					msg.rate = 0.9; // 0.1 to 10
					msg.pitch = 1; //0 to 2
					msg.text = phrase;
					msg.lang = 'en-US';
					speechSynthesis.speak(msg);
				}
			}

			/*
			 * Documentation https://docs.angularjs.org/api/ng/service/$http
			 */
			$scope.fetchPhrase = function () {
				getPhrase($scope.textInput, function(phrase) {
					$scope.phrases.unshift(phrase);
			});
			$scope.clearPhrases = function () {
					$scope.phrases = [];
			};
				$scope.textInput = "";
			}

			$http({
				method: 'GET',
				url: window.location.origin+'/v1/stations/'
			}).then(function successCallback(response) {
				$scope.stations = Object.keys(response.data).map(function (key) {
					return { name:key }; });
			}, function errorCallback(response) {
				return "Tietojen haku rajapinnasta epäonnistui";
			});

			$scope.doPrimaryAction = function(event, station) {
				getData(station, function(data) {
					$mdDialog.show({
						template:'<div style="padding: 10px 10px 10px 10px;">' +
										 '<h2>' + data.city + '</h2>' +
										 '<p>Lämpötila: ' + data.temperature + '</p>' +
										 '<p>Tuulensuunta: ' + data.windDirection + '</p>' +
										 '<p>Tuulennopeus: ' + data.windSpeed + " m/s" + '</p>' +
										 '<p>Pilvisyys: ' + data.clouds + " m/s" + '</p>' +
										 '<p>Ilmanlaatu: ' + data.airquality[0].FI + '</p></div>',
						clickOutsideToClose: true
					});
				});

			};

			$scope.doSecondaryAction = function(event, station) {
				getPhrase(station, function(phrase) {
					speakPhrase(phrase);
				});
			};
		});
		</script>
</body>
</html>
